$egeo-sanitize: true;

@import '~@stratio/egeo-ui-base/utils/colors';
@import '~@stratio/egeo-ui-base/utils/typography';
@import '~@stratio/egeo-ui-base/vendors/sanitize';


@import '~@stratio/egeo-theme/egeo-grid.css';
@import '~@stratio/egeo-theme/egeo-theme-stratio.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
