$egeo-sanitize: true;

@import '~@stratio/egeo-ui-base/utils/colors';
@import '~@stratio/egeo-ui-base/utils/typography';
@import '~@stratio/egeo-ui-base/vendors/sanitize';


@import '~@stratio/egeo-theme/egeo-grid.css';
@import '~@stratio/egeo-theme/egeo-theme-stratio.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sth-checkbox {

  .sth-checkbox-custom {
    border: 1px solid egeo-get-color(n5);

    &:hover {
      border-color: egeo-get-color(a1)
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;

    .sth-checkbox-custom {
      &:hover {
        border-color: egeo-get-color(n5);
      }
    }
  }



  .sth-checkbox-label {
    font-family: egeo-get-font(body);
    font-size: egeo-get-font-size(body_medium)
  }
}
