$st-button---height: 35px !default;

%rect-button {
   min-width: 150px;
   padding: 3px 20px 0;
}

%round-button {
   align-items: center;
   border-radius: 100%;
   display: inline-flex;
   justify-content: center;
   min-width: 0;
   outline: none;
   padding: 7px 1px;
   width: $st-button---height;

   .StbuttonText {
      display: none;
   }
}

button {
   box-sizing: border-box;
   cursor: pointer;
   height: $st-button---height;
   outline: none;

   &Icon + &Text,
   &Text + &Icon {
      margin: 0 0 0 4px;
   }

   &[disabled] {
      cursor: auto;
   }

   &.btnMain
   {
    min-width: 150px;
    padding: 3px 20px 0;
   }

   &.btnLink {
      @extend %rect-button;

      .StbuttonIcon + .StbuttonText,
      .StbuttonText + .StbuttonIcon {
         margin: 0 0 0 2px;
      }
   }

   &.btnTool {
      @extend %round-button;

      .StbuttonIcon + .StbuttonText,
      .StbuttonText + .StbuttonIcon {
         margin: 0;
      }
   }
}
